*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: #d3edf7;
    padding-top: 12px;
}

body h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

header {
    align-items: center;
    margin-bottom: 40px;
}

img{
    max-width: 960px;
    margin:auto;
    padding: 16px;
    display: flex;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}
form {
    display: flex;
    max-width: 960px;
    width: 0 auto;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;
}

label {
    color: #01B0F1;
    font-weight: bold;
    font-size: 16px;
}

input::placeholder {
    color: #01B0F1;
    font-size: 16px;
    font-style: italic;
    padding: 4px;

}

form input {
    font-size: 18px;
    background-color: #fff;
    border: none;
    padding: 8px;
}

form button {
    background-color: #01B0F1;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border: 16px;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
}

table th {
    color: black;
    text-align: justify;
    padding: 8px;
    font-size: 24px;
    font-weight:bold;
}

table td{
    padding: 8px 0;
    text-align: justify;
    font-size: 18x;
    font-weight:bold;
    color: #01B0F1;
}

table td img{
    height:30px;
    }
