*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: rgb(235, 235, 235);
    padding-top: 12px;
}

body h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 24px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}
form {
    display: flex;
    max-width: 960px;
    width: 0 auto;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 8px;
    align-items: center;
}

label {
    color: ;
    font-weight: bold;
    font-size: 16px;
}

input::placeholder {
    color: black;
    font-size: 16px;
    font-style: normal;
    padding: 4px;
    border-color: black;

}

form input {
    font-size: 18px;
    background-color: #fff;
    border: black;
    padding: 8px;
}

form button {
    background-color: #f8fbfc;
    color: #000;
    font-size: 16px;
    font-weight: bolder;
    border: 16px;
    cursor: pointer;
    padding: 8px;
    border-color: black;
}

table {
    width: 100%;
}

table th {
    color: black;
    text-align: justify;
    padding: 8px;
    font-size: 24px;
    font-weight:bold;
}

table td{
    list-style-type: disc;
    text-align: center;
    padding: 8px 0;
    font-size: 18x;
    font-weight:bold;
    color: #000000b4;
}
